- if @orders.empty? 
	There were no orders so far, so there is no history ;)
- else
	%h2 Orders
	.orders_table
	= render "orders_table", orders: @orders

.new_order(style="display:none")
	= render "form", order: @order if github_user
%p
	= link_to "Create an order", "#", class: "btn btn-primary btn-large", id: "create_order" if github_user